.idea/
/packages/
.vs/
/MyCompany.Seeq.Link.Connector.MyConnector/bin/
/MyCompany.Seeq.Link.Connector.MyConnector/obj/
/Seeq.Link.SDK.Debugging.Agent/bin/
/Seeq.Link.SDK.Debugging.Agent/obj/
/MyCompany.Seeq.Link.Connector.MyConnector.Test/bin/
/MyCompany.Seeq.Link.Connector.MyConnector.Test/obj/
/nuget.exe
/tools/
dist/
/data/agent-keys/agent.keys
/data/configuration/link/.NET Connector SDK Debugging Agent.json
/data/configuration/link/MyCompany MyConnector.json
