.idea/
/packages/
/.vs/
/MyCompany.Seeq.Link.Connector.MyConnector/bin/
/MyCompany.Seeq.Link.Connector.MyConnector/obj/
/Seeq.Link.SDK.Debugging.Agent/bin/
/Seeq.Link.SDK.Debugging.Agent/obj/
/MyCompany.Seeq.Link.Connector.MyConnector.Test/bin/
/MyCompany.Seeq.Link.Connector.MyConnector.Test/obj/
/nuget.exe
/tools/
