<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.7" targetFramework="net48" />
  <package id="Google.ProtocolBuffers" version="2.4.1.521" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.24.3" targetFramework="net45"/>
  <package id="JsonSubTypes" version="1.2.0" targetFramework="net48" />
  <package id="log4net" version="2.0.12" targetFramework="net48" />
  <package id="Minimatch" version="1.1.0.0" targetFramework="net48" />
  <package id="MSFT.ParallelExtensionsExtras" version="1.2.0" targetFramework="net48" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NodaTime" version="2.2.4" targetFramework="net48" />
  <package id="OsInfo" version="1.2.0" targetFramework="net48" />
  <package id="RestSharp" version="106.12.0" targetFramework="net48" />
  <package id="Seeq.Link.Agent" version="65.0.0-dev" targetFramework="net48" />
  <package id="Seeq.Link.SDK" version="65.0.0-dev" targetFramework="net48" />
  <package id="Seeq.SDK" version="65.0.0-dev" targetFramework="net48" />
  <package id="Seeq.Utilities" version="65.0.0-dev" targetFramework="net48" />
  <package id="Seeq.Compression" version="65.0.0-dev" targetFramework="net48" />
  <package id="Seeq.Serialization" version="65.0.0-dev" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net48" />
  <package id="ContentFilesExample" version="1.0.2" targetFramework="net48" />
  <package id="ZstdSharp.Port" version="0.7.2" targetFramework="net461"/>
</packages>