<?xml version="1.0" encoding="UTF-8" ?>

<mdaConfig xsi:noNamespaceSchemaLocation="http://schemas.microsoft.com/CLR/2004/10/mda" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <assistants>
    <!--
      Mark Derbecker disabled this because it was happening all the time and
      StackOverflow seems to indicate that it's a benign error. Note: This has
      to be paired with COMPLUS_MDA=1 environment variable, which is done in
      visual_studio.py.
    -->
    <contextSwitchDeadlock enable="false" />
  </assistants>
</mdaConfig>