<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="5.1.1" targetFramework="net48" />
  <package id="Google.ProtocolBuffers" version="2.4.1.521" targetFramework="net48" />
  <package id="JsonSubTypes" version="1.2.0" targetFramework="net48" />
  <package id="log4net" version="2.0.12" targetFramework="net48" />
  <package id="MSFT.ParallelExtensionsExtras" version="1.2.0" targetFramework="net48" />
  <package id="Minimatch" version="1.1.0.0" targetFramework="net48" />
  <package id="Moq" version="4.20.69" targetFramework="net48" />
  <package id="NFluent" version="3.0.1.352" targetFramework="net48" />
  <package id="NUnit" version="3.14.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NodaTime" version="2.2.4" targetFramework="net48" />
  <package id="RestSharp" version="106.12.0" targetFramework="net48" />
  <package id="Seeq.Link.SDK" version="61.1.10" targetFramework="net48" />
  <package id="Seeq.SDK" version="61.1.10" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>